{% extends 'base.html.twig' %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h1>Article page</h1>

    <h3>{{ article.title }}</h3>

    <div>

        <div>
            {{ article.getCreatedAt|date('d.m.Y') }}
        </div>

        <div>
            {{ article.content|raw }}
        </div>

    </div>
</div>

{% endblock %}
